/* .dark {
  background-color: #282c34;
  color: white;
}

.light {
  background-image: url("../src/assets/bg.png");
  color: #0d3f67;
}

.iconosLightbulbDark {
  color: #0d3f67;
  font-size: 30px;
}

.iconosLightbulb {
  color: #ffcc00;
  font-size: 30px;
} */
